.header {
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    z-index: 3;
}

.header1 {
    margin: 0 100px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 680px;
    height: 41px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    &__item {
        padding-bottom: 6px;
        text-align: center;
        width: 110px;

        font-weight: 800;
        font-size: 17px;
        line-height: 20px;

        letter-spacing: 1.275px;
        color: #000000;
        text-decoration: none;

        border-bottom: 5px solid #ffffff;
        transition: border-bottom 0.3s linear;
        &:hover {
            color: #000000;
            border-bottom: 5px solid #4ba87d;
        }
    }
}

.btn {
    font-weight: 800;
    font-size: 17px;

    text-align: center;
    letter-spacing: 1.275px;
    border: 0px;
    text-decoration: none;

    transition: transform 0.07s linear;

    &:hover {
        transform: scale(1.07);
    }
    &_header {
        width: 168px;
        height: 41px;
        background: #4ba87d;
        line-height: 41px;

        color: #ffffff;
        &:hover {
            color: #ffffff;
        }
    }
}

@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
    .header1 {
        margin: 0 50px;
    }
    .menu__item {
        width: 90px;
        font-size: 14px;
    }
}
@media (max-width: 992px) {
    .header__img {
        width: 190px;
        margin-right: 20px;
    }
    .menu__item {
        width: 70px;
        font-size: 13px;
    }
    .btn_header {
        width: 148px;
    }
}

@media (max-width: 768px) {
    .header1 {
        margin: 0 20px;
        height: 66px;
    }
    .header__img {
        margin-left: -15px;
    }
    .menu {
        height: 25px;
        &__item {
            padding-bottom: 5px;
            text-align: center;
            width: 71px;

            font-size: 11px;
            line-height: 13px;

            border-bottom: 3px solid #ffffff;
            &:hover {
                border-bottom: 3px solid #4ba87d;
            }
        }
    }

    .btn {
        font-size: 11px;
        line-height: 13px;
        &_header {
            width: 110px;
            height: 25px;
            line-height: 25px;
        }
    }
}
@media (max-width: 640px) {
    .menu__item {
        display: none;
    }
    .menu {
        width: 110px;
    }
    .btn_header {
        width: 110px;
    }
}

@media (max-width: 576px) {
}
@media (max-width: 340px) {
    .header__img {
        width: 165px;
    }
}
@media (max-width: 320px) {
    .header1 {
        height: 66px;
        justify-content: space-around;
    }
    .header__img {
        width: 165px;
        margin-right: 15px;
        margin-left: -30px;
    }
    .menu {
        width: 110px;
        height: 25px;
    }
}
