.bg123 {
    min-height: 2648px;
    background: url(../img/2create/BGstuff.png) center center/ cover no-repeat;
}

.container {
    position: relative;
}
.create__img {
    position: absolute;
    top: 0px;
    right: 1px;
    z-index: 1;
}

.create {
    min-height: 638px;
    padding: 116px 0px 140px 0;
}

.hero_left_side {
    height: 317px;
    width: 489px;

    position: absolute;
    top: 20px;
    left: 1px;
    z-index: 2;
}

.title {
    font-weight: 900;
    font-size: 59px;
    line-height: 71px;

    color: #000000;
    &_create {
        margin-bottom: 23px;
    }
}

.subtitle {
    font-weight: 500;
    font-size: 19px;
    line-height: 26px;

    color: #000000;
    &_create {
        margin-bottom: 35px;
    }
}

.create__btns {
    display: flex;
}
.btn {
    &_try_now {
        display: inline-block;
        margin-right: 45px;
        width: 200px;
        height: 65px;

        background: #4ba87d;
        border: 0px;

        color: #ffffff;
        font-weight: 900;
        font-size: 21px;
        line-height: 65px;

        transition: transform 0.07s linear;
        &:hover {
            color: #ffffff;
            transform: scale(1.07);
        }
    }
    &_get_demo {
        box-sizing: border-box;
        display: inline-block;
        width: 200px;
        height: 65px;

        background: #ffffff;
        border: 3px solid #4ba87d;

        color: #4ba87d;
        font-weight: 900;
        font-size: 21px;
        line-height: 65px;

        transition: transform 0.07s linear;
        &:hover {
            color: #4ba87d;
            transform: scale(1.07);
        }
    }
}

@media (max-width: 1440px) {
}
@media (max-width: 1200px) {
    .create__img {
        right: 30px;
    }

    .hero_left_side {
        left: 30px;
    }
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
    .bg123 {
        min-height: auto;
    }
    .create__img {
        width: 445px;
        height: 250px;
    }

    .create {
        min-height: 350px;
        padding: 67px 0px 90px 0;
    }

    .hero_left_side {
        width: 315px;
        height: 208px;
    }

    //

    .title {
        font-size: 38px;
        line-height: 46px;
    }

    .subtitle {
        font-size: 12px;
        line-height: 16px;

        color: #000000;
        &_create {
            margin-bottom: 35px;
        }
    }

    .btn {
        &_try_now {
            margin-right: 29px;
            width: 131px;
            height: 42px;

            font-size: 13px;
            line-height: 42px;
        }
        &_get_demo {
            width: 131px;
            height: 42px;

            font-size: 13px;
            line-height: 42px;
        }
    }
}
@media (max-width: 576px) {
}
@media (max-width: 476px) {
    .hero_left_side {
        left: 5px;
    }
    .create__img {
        top: 80px;
        right: 0px;
        // width: 300px;
        // height: 167px;
    }
    .title {
        margin-bottom: 150px;
    }

    .subtitle {
        margin-bottom: 10px;
    }
    .create {
        // min-height: 350px;
        padding: 17px 0px 90px 0;
    }
    .btn {
        &_try_now {
            margin-left: 10px;
        }
    }
}
@media (max-width: 320px) {
    .create {
        min-height: 380px;
        padding: 0px 0px 40px 0;
    }
    .container-create {
        max-width: auto;
    }

    //

    .hero_left_side {
        // position: static;
        left: 10px;
        width: 94%;
        // width: 300px;
        margin: 0 auto;
    }
    .create__img {
        top: 70px;
        right: 10px;
        width: 300px;
        height: 167px;
    }

    //

    .title {
        font-size: 36px;
        line-height: 46px;
    }

    .subtitle {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 16px;
    }

    .btn-create {
        width: 143px;
        height: 40.22px;
        margin-right: 0px;
        margin-bottom: 10px;
        &-1 {
            margin-right: 0px;
        }
    }
    .btn {
        &_try_now {
            margin-right: 10px;
            margin-left: 0px;
            width: 143px;
            height: 40.22px;

            font-size: 13px;
            line-height: 40.22px;
        }
        &_get_demo {
            width: 143px;
            height: 40.22px;

            font-size: 13px;
            line-height: 40.22px;
        }
    }
}
@media (max-width: 319px) {
    .create__btns {
        justify-content: space-around;
    }
    .btn {
        &_try_now {
            margin-right: 14px;
            margin-left: 10px;
            width: 113px;
        }
        &_get_demo {
            width: 113px;
        }
    }
}

//
// section more
//

.more {
}

.more__img {
    position: relative;
    background: url(../img/2create/learn_now.png) center center/ cover no-repeat;
    // max-width: 944px;
    max-width: 75%;
    height: 531px;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 95px;
}

.title {
    &_more {
        font-weight: 900;
        font-size: 60px;
        line-height: 80px;
        color: #ffffff;

        position: absolute;
        text-align: center;
        top: 30%;
        width: 100%;
    }
}

.btn {
    &_more {
        width: 200px;
        height: 65px;

        font-weight: 900;
        line-height: 65px;
        font-size: 21px;
        text-align: center;
        letter-spacing: 1.05px;
        color: #4ba87d;
        background: #ffffff;
        border: 0px;

        position: absolute;
        bottom: 30%;
        left: calc(50% - 100px);
        &:hover {
            color: #4ba87d;
        }
    }
}

@media (max-width: 1440px) {
}
@media (max-width: 1200px) {
    .more__img {
        max-width: 85%;
        height: 531px;
    }
}
@media (max-width: 992px) {
    .more__img {
        height: 431px;
    }
}
@media (max-width: 768px) {
    .more__img {
        max-width: 80%;
        height: 347px;
    }
    .title {
        &_more {
            font-size: 38px;
            line-height: 51px;
        }
    }

    .btn {
        &_more {
            width: 132px;
            height: 42px;

            font-size: 13px;
            line-height: 42px;

            left: calc(50% - 71px);
        }
    }
}
@media (max-width: 576px) {
    .more__img {
        max-width: 90%;
        height: 317px;
    }
    .btn {
        &_more {
            bottom: 20%;
        }
    }
}
@media (max-width: 320px) {
    .more__img {
        max-width: 92%;
        height: 171px;
        margin-top: 40px;
        margin-bottom: 33px;
    }
    .title {
        &_more {
            font-size: 22px;
            line-height: 29px;
        }
    }

    .btn {
        &_more {
            width: 65px;
            height: 21px;

            font-size: 6px;
            line-height: 21px;

            left: calc(50% - 32px);
        }
    }
}
