.join {
    margin-bottom: 52px;
}

.all_people {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.people {
    width: 342px;
    height: 239px;
    padding: 27px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &1 {
        background: url(../img/4join/people1.png) center center/ cover no-repeat;
    }
    &2 {
        background: url(../img/4join/people2.png) center center/ cover no-repeat;
    }
    &3 {
        background: url(../img/4join/people3.png) center center/ cover no-repeat;
    }
    text-decoration: none;
    transition: margin 0.1s linear;
    &:hover {
        margin-top: -25px;
    }
}

.title {
    &_people {
        font-weight: 900;
        font-size: 34px;
        line-height: 40px;
        color: #ffffff;
        // margin-bottom: 5px;
    }
}

.subtitle {
    &_people {
        font-weight: 700;
        font-size: 19px;
        line-height: 22px;
        color: #ffffff;
    }
}

@media (max-width: 1440px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 1040px) {
    .all_people {
        justify-content: center;
    }
    .people {
        width: 292px;
        height: 189px;
        margin: 0 15px;
    }
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
    .people {
        width: 223px;
        height: 157px;
        margin: 0 10px;
        padding: 15px;
    }
    .title {
        &_people {
            font-size: 22px;
            line-height: 26px;
            // margin-bottom: 5px;
        }
    }

    .subtitle {
        &_people {
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
        }
    }
}
@media (max-width: 600px) {
    .all_people {
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
        // margin-bottom: 40px;
    }
    .people {
        // width: 223px;
        // height: 157px;
        margin: 10px 0;
        padding: 15px;
    }
}
@media (max-width: 576px) {
}
@media (max-width: 320px) {
}

//
//
// enter mail
// enter mail
// enter mail
//
//
.title_join {
    margin-bottom: 40px;

    font-weight: 900;
    font-size: 44px;
    line-height: 48px;

    text-align: center;

    color: #000000;
}

.enter_mail {
    &__form {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-bottom: 20px;
    }
    &__inp {
        width: 420px;
        height: 65px;

        background: #ffffff;
        border: 1px solid #9f9f9f;
        border-radius: 5px;

        margin-right: 27px;
        padding: 20px 25px;

        font-weight: 500;
        font-size: 21px;
        letter-spacing: 1.05px;
        color: #000000;
    }
}

.btn {
    &_enter_mail {
        width: 221px;
        height: 65px;
        background: #4ba87d;

        font-weight: 900;
        font-size: 21px;
        line-height: 25px;

        letter-spacing: 1.05px;
        color: #ffffff;
    }
}

.enter_mail__mail_recived {
    opacity: 1;
    margin-left: 22%;
    text-align: left;
    transition: all 0.5s linear;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;

    letter-spacing: 1.05px;
    color: #4ba87d;
    &-disable {
        opacity: 0;
    }
}

@media (max-width: 1440px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
    .enter_mail {
        &__inp {
            width: 275px;
            height: 42px;
        }
    }
    .title_join {
        margin-bottom: 20px;

        font-size: 26px;
        line-height: 36px;
    }
    .btn {
        &_enter_mail {
            width: 144px;
            height: 42px;

            font-size: 13px;
            line-height: 15px;
        }
    }
}
@media (max-width: 576px) {
    .enter_mail {
        &__form {
            flex-direction: column;
        }
    }

    .enter_mail {
        &__form {
            margin-bottom: 20px;
        }
        &__inp {
            margin-right: 0px;
        }
    }
    .btn {
        &_enter_mali {
            width: 144px;
            height: 42px;

            font-size: 13px;
            line-height: 15px;
        }
    }

    .enter_mail__mail_recived {
        margin: 5px;
    }
}
@media (max-width: 320px) {
    .container-join {
        max-width: 240px;
    }

    .enter_mail {
        &__inp {
            width: 223px;
            height: 42px;

            margin-right: 0px;
            padding: 20px 25px;

            font-size: 13px;
            line-height: 15px;
        }
    }

    .enter_mail {
        &__form {
            flex-direction: column;
        }
    }

    .btn {
        &_enter_mali {
            width: 144px;
            height: 42px;

            font-size: 13px;
            line-height: 15px;
        }
    }
    .title_join {
        margin-bottom: 10px;

        font-size: 26px;
        line-height: 36px;
    }
    .enter_mail__mail_recived {
        font-size: 18px;
    }
}
