// other
@import "other/bootstrap-reboot";

// шрифты
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
    font-family: "Roboto", sans-serif;
}

// @media (max-width: 576px) {
//     .container{
//         max-width: 100%;
//     }
// }
// @media (min-width: 576px) {
//     .container{
//         max-width: 540px;
//     }
// }
// @media (min-width: 768px) {
//     .container{
//         max-width: 720px;
//     }
// }
// @media (min-width: 992px) {
//     .container{
//         max-width: 960px;
//     }
// }
// @media (min-width: 1200px) {
//     .container{
//         max-width: 1140px;
//     }
// }
// @media (min-width: 1400px) {
//     .container{
//         max-width: 1320px;
//     }
// }
// .container{
//     margin: 0 auto;
// }

// .container {
//     max-width: 1920px;
// }

@media (min-width: 1440px) {
    .container {
        max-width: 1098px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1098px;
    }
}

.container {
    margin: 0 auto;
}

@import "vars";
@import "1header";
@import "2create";
@import "3lern_more";
@import "4join";
@import "5brands";
@import "6footer";

@media (max-width: 1440px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 320px) {
}
